
h1{
    font-family: 'Roboto', sans-serif;;
    font-size: 30px;
    font-weight: bolder;
}

.text-center{
    text-align: center;
}

.bk{
    background-image: url("https://i.imgur.com/ZN2ZPIj.jpg");
}

.img
{
    height: 550px;
}